<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/contactUs.css">
    <!--Font-awsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
        <h1>Project Team</h1>
        <div class="team">
               
            <div class="team-members">
                <div class="team-img">
                    <img src="/static/gagandp.jpg" alt="gaganpreet kaur kalsi">
                </div>
                <h3>Gaganpreet Kaur Kalsi</h3>
                    <p>Email - gagansinghkalsi4126@gmail.com
                        <a href="https://www.linkedin.com/in/gaganpreet-kaur-kalsi-2a6650191/" class="linkedin">Linkedin</a>
                        <a href="https://www.linkedin.com/in/gaganpreet-kaur-kalsi-2a6650191/" class="github">Github</a>
                    </p>              
            </div>
            <div class="team-members">
                <div class="team-img">
                    <img src="/static/ujwaldp.jpg" alt="ujwal garg">
                </div>
                <h3>Ujwal Garg</h3> 
                <p>Email - cse.19bcs6035@gmail.com
                    <a href="https://www.linkedin.com/in/ujwal-garg-449974198/" class="linkedin">Linkedin</a>
                    <a href="https://github.com/Ujwalgarg2387" class="github">Github</a></p>
            </div>
            <div class="team-members">
                <div class="team-img">
                    <img src="/static/medp.jpg" alt="yuvraj singh yadav">
                </div>
                <h3>Yuvraj Singh Yadav</h3> 
                <p>Email - yuvraj150a@gmail.com
                    <a href="https://www.linkedin.com/in/yuvraj-singh-yadav-840249200/" class="linkedin">Linkedin</a>
                    <a href="https://github.com/YuvrajSinghYadav" class="github">Github</a></p>
            </div>
            <div class="team-members">
                <div class="team-img">
                    <img src="/static/sumeerdp.jpg" alt="sumeer sharma">
                </div>
                <h3>Sumeer Sharma</h3> 
                <p>Email -  19BCS6018@cuchd.in
                    <a href="https://www.linkedin.com/in/sumeer-sharma-2b9009194/" class="linkedin">Linkedin</a>
                    <a href="https://github.com/sumeer-123" class="github">Github</a></p>
            </div>
            <div class="team-members">
                <div class="team-img">
                    <img src="/static/avishidp.jpg" alt="avishi sharma">
                </div>
                <h3>Avishi Sharma</h3> 
                <p>Email -  19BCS6020@cuchd.in
                    <a href="https://www.linkedin.com/in/avishi-sharma-93b398190/" class="linkedin">Linkedin</a>
                    <a href="#" class="github">Github</a></p>
            </div>
        </div>
    </div>

</body>
</html>